.about {
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
  }
.aboutText {
    margin: 150px auto 100px;
    font-size: 22px;
    text-align: center;
    width: 60%;
    line-height: 40px;
}
.aboutHeader {
    font-size: 36px;
    color: #F7CAC9;
    margin-bottom: 20px;
    line-height: auto;
}
.bannerImage {
    width: 100%;
    position: relative;
    max-height: 550px;
    display: inline-block;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.aboutDescription {
    margin: 50px auto;
}
.aboutImageContainer {
    height: 440px;
    width: 740px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: rgba(247,202,201, 0.4);
}
.aboutImage {
    position: relative;
    display: inline-block;
    max-height: 400px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }
.aboutQuoteAndImage {
    margin: 225px auto;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
  .aboutQuoteImage {
    width: 45%;
    position: relative;
    max-height: 650px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }
  .aboutQuoteContainer {
    padding: 20px 50px;
    position: relative;
    color: #F7CAC9;
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    width: 40%;
}
.aboutQuote {
    display: inline-block;
}
.aboutAuthor {
    display: inline-block;
    margin-left: 50%;
}
